/* Nav.css */

/* Style for the main navigation */
.main-nav {
    background-color: #42c442;
    overflow: hidden;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.main-nav li {
    float: left;
}

.main-nav li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.main-nav li a:hover {
    background-color: #111;
}
.greeting {
    margin-right: 20px;
    font-size: 1.2em;
  }
  .main-nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    .navbar-item {
        margin: 0 15px;
        font-size: 1em;
    }
    .navbar-item a {
        text-decoration: none;
        color: #333;
      }
         
